.main {
    padding-left: 15px;
    padding-right: 15px;
    padding: 24px 15px;
    width: 100%;
    height: 100%;

    @media (min-width: $tablet-width) {
        padding-left: 15px;
        padding-right: 15px;
        padding: 0 15px;
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background: linear-gradient(
            188.4deg,
            #ffffff -9.81%,
            #f1f1f1 -9.81%,
            #eeeeee 66.13%,
            rgba(214, 235, 255, 0) 133.8%
        );

        box-shadow: 1px 4px 12px rgba(54, 94, 125, 0.1);
    }

    &.reg-restore-active {
        @media (min-width: $tablet-width) {
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
            background: var(--white);
            box-shadow: none;
        }
    }
}
